body {
    background-color: white;
    margin: 0px;
}

.header {
    background-color: #e75787;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 80px;
}

.delivery-bag img {
    width: 50px;
    height: auto;
}

.business-account {
    text-align: center;
    color: white;
    font-size: 18px;
}

.sign-up-button {
    background-color: white;
    color:  #e75787;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.sign-up-button:hover {
    background-color: #947984;
}

.food {
    border: 1px solid rgb(255, 253, 253);
    box-shadow: 10px 10px 5px rgb(163, 159, 159);
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 800px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 50px;
    height: auto;
}

.icons {
    display: flex;
    gap: 30px;
}

.icons:hover {
    background-color: gray
}

.headings {
    margin: 160px 0px 0px 60px;
    font-size: 30px;
    opacity: 0.6;
    display: flex;
}

.search {
    border: 1px solid #b1aaad;
    background-color: white;
    box-shadow: 3px 5px 5px #e6e1e3;
    border-radius: 20px;
    width: 700px;
    height: 80px;
    margin: 40px 0px 0px 60px;
    justify-content: space-between;
}

input {
    background-color: #f0f0f0;
    border-color: #e6e1e3 ;
    width: 500px;
    height: 52px;
    border-radius: 15px;
    margin: 15px 0px 0px 20px;
}

.find {
    background-color:  #e75787;
    color: white;
    border: black;
    border-radius: 20px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 0px 0px 20px;
}

.find:hover {
    background-color: #4e494b;
}

.image {
    margin: 0px 0px 0px 680px;
    padding: 0px;
}

.lahore {
    margin: 160px 0px 0px 40px;
    font-size: 22px;
    display: flex;
}

.karachi {
    margin: 60px 0px 0px 40px;
    font-size: 22px;
    display: flex;
}

.qr12 {
    border-radius: 10px;
    margin: 0px 0px 10px 20px;
}